.view-card
  .container-hero
    padding: 16px
    height: 460px
    .material-card
      margin: 16px

  .container-hero,
  .container-card
    .material-card
      width: 320px
      display: inline-block
      margin: 24px
      vertical-align: top
      background-color: white
      .component-visual
        background-repeat: no-repeat
        background-size: cover
        height: 209px
        background-color: #014689

      .component-body
        padding: 16px

        h2,
        h3
          margin: 0
          padding-top: 8px

      .component-action
        padding: 8px
        text-align: right
        .material-button
          font-size: 14px
          padding: 0

          label
            padding: 8px

    .component-simple-card
      .component-head

        background-color: #014689

    .component-simple-card-avatar
      .component-head
        //padding: 16px
        .component-avatar
          margin: 16px
          background: rgb(189, 189, 189)
          height: 2.5rem
          width: 2.5rem
          border-radius: 50%

        .component-info
          padding: 16px 0 
          .material-text
            display: block

    .component-simple-card-square
      .component-head
        //padding: 16px
        .component-square
          margin: 16px
          background-color: orange
          height: 2.5rem
          width: 2.5rem
          //border-radius: 50%

        .component-info
          padding: 16px 
          .material-text
            display: block

      .component-visual
        background-repeat: no-repeat
        background-size: cover
        height: 209px
        background-color: orange

    .component-simple-big-square
      //padding: 16px
      .component-square
        width: 180px
        height: 180px
        margin: 16px
        background-color: orange

        //border-radius: 50%

      .component-info
        padding: 16px 
        .material-text
          display: block

